.navbar-lilybin {
	background-color: #3d668f;
	color: #fff;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#477ca5', endColorstr='#375e7f');
	background: -webkit-linear-gradient(top, #477ca5, #375e7f);
	background:    -moz-linear-gradient(top, #477ca5, #375e7f);
	background:      -o-linear-gradient(top, #477ca5, #375e7f);
	background:         linear-gradient(to bottom, #477ca5, #375e7f);
	margin-bottom: 0;
}
.navbar-lilybin a {
	color: #fff;
}
.navbar-lilybin .navbar-nav > li > a:hover,
.navbar-lilybin .navbar-nav > li > a:focus,
.navbar-lilybin .navbar-nav > .open > a {
	color: #fff;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d6b9b', endColorstr='#2d4d75');
	background: -webkit-linear-gradient(top, #3d6b9b, #2d4d75);
	background:    -moz-linear-gradient(top, #3d6b9b, #2d4d75);
	background:      -o-linear-gradient(top, #3d6b9b, #2d4d75);
	background:         linear-gradient(to bottom, #3d6b9b, #2d4d75);
}

/* These were written by simply finding all the media queries and then *
 * revert them one by one.                                             */
.navbar-unresponsive .container-fluid > .navbar-collapse,
.navbar-unresponsive .container-fluid > .navbar-header,
.navbar-unresponsive .container > .navbar-collapse,
.navbar-unresponsive .container > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}
.navbar-unresponsive .navbar-header {
	float: left;
}
.navbar-unresponsive .navbar-nav {
	float: left;
	margin: 0;
}
.navbar-unresponsive .navbar-nav > li {
	float: left;
}
.navbar-unresponsive .navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-unresponsive .navbar-brand {
	margin-left: -15px;
}
.navbar-unresponsive .navbar-nav .open .dropdown-menu {
	position: absolute;
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
@media screen and (max-width: 767px) {
	.navbar-unresponsive {
		min-height: 40px;
	}
	.navbar-unresponsive .navbar-nav > li > a {
		padding: 10px;
	}
	.navbar-unresponsive .navbar-brand {
		padding: 10px;
		margin-left: 0;
		font-size: 14px;
		height: 40px;
	}
	.navbar-unresponsive .navbar-brand-img {
		display: none;
	}
	.navbar-unresponsive .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Bigger brand image (20px -> 30px) */
.navbar-brand.navbar-brand-img {
	padding: 10px 15px;
}

#code_container, #preview_container {
	padding: 0;
}

#preview_container {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #F3F3F3;
    overflow: hidden;
}
#preview_container img {
	position: absolute;
	cursor: move;
	outline: 1px solid #DDD;
}
.preview_controls {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 6px;
	background-color: #DDD;
	width: 100%;
}
.preview_error {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #FFC;
	border-top: 4px solid #DDD;
	max-height: 50%;
	overflow: auto;
	display: none;
}

@media screen and (min-width: 992px) {
  .btn-sm-md {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}
