<!doctype html>
<html>
	<head>
		<title>LilyBin LilyPond Score Editor</title>
		<meta charset="utf-8">
		<meta property="og:title" content="LilyPond Score">
		<meta property="og:description" content="LilyPond Score made using LilyBin.">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script>var score = <%= score %>;</script>
		<script data-main="/js/main" src="/js/require.js"></script>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,800">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/js/CodeMirror/lib/codemirror.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<nav id="header" class="navbar navbar-lilybin navbar-unresponsive navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<span class="navbar-brand navbar-brand-img">
						<img width="30" height="30" src="/images/ly.svg">
					</span>
					<span class="navbar-brand">LilyBin</span>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#" class="noop-a" id="preview_button" title="<kbd><kbd>Ctrl</kbd>+<kbd>Enter</kbd></kbd>" data-toggle="tooltip" data-placement="bottom">Preview</a></li>
					<li class="dropdown">
						<a href="#" id="version_btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LilyPond <span class="caret"></span></a>
						<ul class="dropdown-menu" id="version_selection" role="menu">
							<li><a href="#" class="noop-a" data-version="stable">
								Latest Stable (<%= versions.stable %>)
							</a></li>
							<li><a href="#" class="noop-a" data-version="unstable">
								Latest Unstable (<%= versions.unstable %>)
							</a></li>
						</ul>
					</li>
					<li><a href="#" id="reset_button">Reset</a></li>
					<li><a href="#" class="noop-a" id="save_button" title="<kbd><kbd>Ctrl</kbd>+<kbd>S</kbd></kbd>" data-toggle="tooltip" data-placement="bottom">Save</a></li>
					<li><a href="#" class="noop-a" id="undo_button" title="<kbd><kbd>Ctrl</kbd>+<kbd>Z</kbd></kbd>" data-toggle="tooltip" data-placement="bottom">Undo</a></li>
					<li><a href="#" class="noop-a" id="redo_button" title="<kbd><kbd>Ctrl</kbd>+<kbd>Y</kbd></kbd>" data-toggle="tooltip" data-placement="bottom">Redo</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right hidden-xs">
					<li><a href="https://github.com/trevordixon/LilyBin">View Sources</a></li>
				</ul>
			</div>
		</nav>
		<div id="main">
			<div class="col-sm-5" id="code_container"></div>
			<div class="col-sm-7" id="preview_container">
				<img id="preview">
				<div class="preview_controls">
					<button class="btn btn-default btn-xs btn-sm-md" id="prev" disabled="disabled">Previous Page</button>
					<button class="btn btn-default btn-xs btn-sm-md" id="next" disabled="disabled">Next Page</button>
					<button class="btn btn-default btn-xs btn-sm-md" id="zoom_in">Zoom In</button>
					<button class="btn btn-default btn-xs btn-sm-md" id="zoom_out">Zoom Out</button>
					<button class="btn btn-default btn-xs btn-sm-md" id="fit">Fit</button>
					<button class="btn btn-default btn-xs btn-sm-md" id="fitw">Fit Width</button>
					<button class="btn btn-default btn-xs btn-sm-md" id="pdf">Download PDF</button>
					<button class="btn btn-default btn-xs btn-sm-md" id="midi">Download MIDI</button>
				</div>
			</div>
		</div>
	</body>
</html>

